*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
    --background-color: hsl(0, 0%, 20%);
    --font-color: hsl(200, 30%, 90%);;
    --board-color: hsl(0, 0%, 30%);
    --selected-cell: hsl(120, 100%, 25%);
    --win-pattern-cell: hsl(120, 100%, 12%);
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.4rem;
  max-width: 90rem;
  margin: auto;
  text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
}

button {
    padding: 3px 10px;
    margin-bottom: 10px;
}

.board {
    max-width: 500px;
    text-align: center;
    margin: auto;
    background-color: var(--board-color);
}

.board-row {
    display : flex;
    flex-wrap: nowrap;
    width: 100%;
}

.board-col {
    display: flex;
    flex: 1 0 auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    border :1px solid #e8e8e8;
    text-align: center;
    padding: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    overflow-wrap: break-word;
    word-break: break-word;
}

.board-col:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.board-col.selected, .board-col.center {
    background-color: var(--selected-cell);
}

button.shuffle-board {
    margin-top: 20px;
}

.win-message {
    display: none;
}

.show-message {
    display: block;
    color: hsl(0, 100%, 50%);
    font-weight: bold;
    font-size: 4rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 200px;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;
}

.winning .selected {
    background-color: var(--selected-cell);
}

.winning-pattern {
    background-color: var(--win-pattern-cell) !important;
    color: var(--font-color) !important;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 0.6em;
    }
}
